@import "tailwindcss";


:root {
  --background: #0E0E0E;
  --foreground: #171717;
}

/* In your global CSS (e.g., globals.css or a new utilities file) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




@font-face {
  font-family: 'HelveticaLight';
  src: local('Helvetica now display'), local('Helvetica-Light'), 
      url('../assets/font/HelveticaNowDisplay-Light.woff2') format('woff2'),
      url('../assets/font/HelveticaNowDisplay-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaBlack';
  src: local('Helvetica now display'), local('Helvetica-Black'), 
      url('../assets/font/HelveticaNowDisplay-Black.woff2') format('woff2'),
      url('../assets/font/HelveticaNowDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'HelveticaMid';
  src: local('Helvetica now display'), local('Helvetica-Medium'), 
      url('../assets/font/HelveticaNowDisplay-Medium.woff2') format('woff2'),
      url('../assets/font/HelveticaNowDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaReg';
  src: local('Helvetica now display'), local('Helvetica-Regular'), 
      url('../assets/font/HelveticaNowDisplay-Regular.woff2') format('woff2'),
      url('../assets/font/HelveticaNowDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaBold';
  src: local('Helvetica now display'), local('Helvetica-Bold'), 
      url('../assets/font/HelveticaNowDisplay-Bold.woff') format('woff2'),
      url('../assets/font/HelveticaNowDisplay-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BomberUrban';
  src: local('Bomber Urban Regular'), local('Bomber-Urban-Regular'), 
      url('../assets/font/bomberurbanregular-8m1ym-webfont.woff2') format('woff2'),
      url('../assets/font/bomberurbanregular-8m1ym-webfont.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mtvgravity';
  src: local('mtvgravity regular'), local('mtvgravity-regular'), 
      url('../assets/font/mtvgravitygroteskext-medium-webfont.woff2') format('woff2'),
      url('../assets/font/mtvgravitygroteskext-medium-webfont.woff') format('woff');
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-HelveticaLight: 'HelveticaLight';
  --font-HelveticaBlack: 'HelveticaBlack';
  --font-HelveticaBold: 'HelveticaBold';
  --font-HelveticaMid: 'HelveticaMid';
  --font-HelveticaReg: 'HelveticaReg';
  --font-BomberUrban: 'BomberUrban';
  --font-mtvgravity: 'mtvgravity';
}

 /* For Chrome, Edge, and Safari */
 ::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #000; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Background of the thumb */
  border-radius: 10px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #000; /* Background of the thumb when hovered */
}



/* For Firefox */
html {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #333 #000; /* Color of the thumb and track */
}

/* For Internet Explorer and Edge (Legacy) */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hide the scrollbar */
}


body{
  @apply bg-[#fff] text-[#ededed] overflow-x-hidden
}


.bg-path{
  width: 100%;
  height: 100%;
  background: url("../assets/Clippath.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textgradient{
  background: var(--Gradient-green, linear-gradient(93deg, #4877EE 0.79%, #A52170 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }



